<%-include('../includes/head.ejs')%>

    <body>

        <%-include('../includes/navBar.ejs')%>
          
        
<h1 class="pageHeading">Admin can Add products </h1>

        <div class="formContainer">
            <main class="form-main-container">
                <form action="/admin/add-products" method="POST">
                    <div class="form-control title ">
                        <label for="title">Enter Title </label>
                        <input id="title" name="title" type="text" required>

                    </div>
                    <div class="form-control title ">
                        <label for="price">Enter Price </label>
                        <input id="price" name="price" type="number" step="0.001" required>

                    </div>
                    <div class="form-control title ">
                        <label for="imageUrl">Enter ImageUrl </label>
                        <input id="imageUrl" name="imageUrl" type="text" required>

                    </div>
                    <div class="form-control title ">
                        <label for="description">Enter description </label>
                        <input id="description" name="description" type="memo" required>

                    </div>
                    <div class="form-control button ">
                        <button type="submit"> Submit</button>
                    </div>
                </form>
            </main>
           </div>
            <%-include('../includes/end.ejs')%>