<div class="card-body">
    <p class="card-text">
        <%=Products[x].title%>
    </p>
</div>
<div class="card-body">
    <p class="card-text"> $ <%=Products[x].price%>
    </p>
</div>
<div class="card-body">
    <p class="card-text">
        <%=Products[x].description %>
    </p>
</div>